*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(206, 94%, 87%);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    color: hsl(231, 11%, 63%);
}
.all{
    /* border: 1px solid red; */
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 500px;
}
.big{
    height: 500px;
    width: 250px;
    padding-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 140px;
    padding-top: 40px;
}
.p{
    font-size: xx-large;
    color: hsl(213, 96%, 18%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}
b{
    color: hsl(213, 96%, 18%);
    font-weight: 1000;
    font-size:x-small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
input{
    height: 40px;
    width: 125%;
    border-radius: 5px;
    border: 1px solid hsl(231, 11%, 63%); 
    padding: 10px;
    cursor: pointer;
}
.next{
    position: absolute;
    bottom: 130px;
    right: 370px;
    height: -70px;
    width: 6%;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    width: 250%;
    height: 30px;
    border: 0;
    background: hsl(243, 76%, 32%);
    color:  hsl(0, 0%, 100%);
    border-radius: 5px;
    cursor: pointer;
}
.intro{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: hsl(231, 100%, 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    border:1px solid white;
    border-radius:800px;
    position: absolute;
    right: 993px;
    top: 110px;
    color: black;
    background: hsl(206, 94%, 87%);
    height: 20px;
    width: 20px;
}
.bee{
    position: absolute;
    right: 923px;
    top: 108px;
    font-size: x-small;
}
p{
    font-size: larger;
    font-weight: bolder;
    color: hsl(217, 100%, 97%);
}
.plan{
    border:1px solid white;
    border-radius:800px;
    position: absolute;
    right: 993px;
    top: 160px;
    color: white;
    /* background: hsl(206, 94%, 87%); */
    height: 20px;
    width: 20px;
}
.cat{
    position: absolute;
    right: 910px;
    top: 160px;
    font-size: x-small;
}
p{
    font-size: larger;
    font-weight: bolder;
    color: hsl(217, 100%, 97%);
}
.adds{
    border:1px solid white;
    border-radius:800px;
    position: absolute;
    right: 993px;
    top: 210px;
    color: white;
    /* background: hsl(206, 94%, 87%); */
    height: 20px;
    width: 20px;
}
.cow{
    position: absolute;
    right: 932px;
    top: 209px;
    font-size: x-small;
}
p{
    font-size: larger;
    font-weight: bolder;
    color: hsl(217, 100%, 97%);
}
.summ{
    border-radius: 800px;
    border: 1px solid white;
    color: white;
    position: absolute;
    right: 993px;
    top: 265px;
    height: 20px;
    width: 20px;
}
.me{
    position: absolute;
    right: 929px;
    top: 262px;
    font-size: x-small;
}
p{
    font-size: larger;
    font-weight: bolder;
}
